* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.calculator {
    width: 300px;
    min-height: 150px;
    border: 3px solid #000;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
}

.row {
    margin: 5px 0;
}

.btn-row {
    display: flex;
}
.btn-row button {
    flex: 1;
    aspect-ratio: 1 / 1 ;
    margin: 0 4px;
    font-size: 18px;
}
#calcResult {
    color: red;
}
.btn2  > button {
    font-size: 12px;
    letter-spacing: -1px;
    word-break: keep-all;
    padding: 8px;
}